<style>
  #logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 75px;
  }
  #improwised_logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 75px;
  }
  #laravel_rajkot_logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 175px;
  }
  .code pre {
    font-size: 0.7em !important;
  }
</style>
<img id="logo" src="{{ .Param "logo.src" }}" alt="{{ .Param "logo.alt" }}">
<img id="improwised_logo" src="{{ .Param "improwised_logo.src" }}" alt="{{ .Param "improwised_logo.alt" }}">
<img id="laravel_rajkot_logo" src="{{ .Param "laravel_rajkot_logo.src" }}" alt="{{ .Param "laravel_rajkot_logo.alt" }}">
